.card {
  margin: 0;
  padding: 0;
  max-width: 400px;
  position: relative;
}

.card__image {
  width: 100%;
  height: 63%;
  object-fit: cover;
  border-radius: 6px;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 20px;
}

.card__name {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__btn {
  position: absolute;
  top: 14px;
  right: 14px;
}

.card__save-button {
  width: 72px;
  height: 21px;
  border: none;
  border-radius: 31px;
  color: #fff;
  background-color: #313131;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
}

.card__delite-button {
  width: 21px;
  height: 21px;
  background-image: url('../../images/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.card__delite-button:hover {
  background-image: url('../../images/like-active.svg');
}

.card__duration {
  padding: 0;
  margin: 0;
  width: 52px;
  height: 18px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #A0A0A0;
  background-color: #2F2F2F;
  ;
  border-radius: 3px;
}