.profile {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 24vh auto 5vh;
}

.profile__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.profile__container_name {
  border-bottom: 1px solid #424242;
}

.profile__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__control {
  margin: 24vh 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 13px;
  line-height: 16px;
}

.profile__edit-btn {
  border: none;
  background-color: transparent;
  font-weight: 400;
  color: #fff;
}

.profile__exit-btn {
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: #EE3465;
}

@media screen and (max-width: 820px) {
  .profile {
    width: 54%;
  }
}

@media screen and (max-width: 420px) {
  .profile {
    width: 80%;
  }

  .profile__control {
    font-size: 12px;
    line-height: 15px;
  }
}