.filter {
  margin: 30px auto 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filter__input {
  margin-right: 14px;
  width: 36px;
  height: 20px;
  visibility: hidden;
}

.filter__input_visible {
  position: absolute;
  background-image: url('../../../images/checkbox.svg');
  width: 36px;
  height: 20px;
  left: 0;
  top: 0;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
}

.filter__input_visible_checked {
  background-image: url('../../../images/checkbox-active.svg');
}

@media screen and (max-width: 820px) {
  .filter {
    justify-content: center;
  }

  .filter__input_visible {
    top: 0;
    right: 38.5%;
  }
}