@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter/inter.css");

body {
  background-color: #202020;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}